li{
        border:1px solid #ddd;
        margin-top: -1px;
    }
    li:nth-child(even){
        background: #f8d7e6;
    }
    ul{
        text-align: center;
    }
    .loading-xxl{
        display: inline-block;
        width: 50px;
        height: 50px;
        vertical-align: middle;
        background-image: url("http://i2.letvimg.com/lc05_lc_vrp/201606/23/16/02/1466668947335new.gif");
        background-repeat: no-repeat;
        background-size: 100%;
    }
